<main>
    <div>
        <h1>LISTA DE PRODUCTOS:</h1>
        <div class="product-container">
            {{#each products}}
            <div class="product">
                <h3>Producto: {{this.title}}</h3>
                <p>Descripción: {{this.description}}</p>
                <p>Id: {{this.id}}</p>
                <p>Precio: ${{this.price}}</p>
                <p>Stock: {{this.stock}}</p>
                <p>Código del producto: {{this.code}}</p>
            </div>
            {{/each}}

        </div>
        <h1>Total de productos: {{cantProducts}}</h1>
    </div>

</main>